@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,800;1,100;1,300;1,400;1,600;1,800&display=swap');

:root {
  --primary-color: #4caf50 !important;
  --primary-hover-color: #43a047 !important;
  --highlight-text-color: #4caf50 !important;
  --primary-light-color: #d3ecd4;
  --primary-light-hover-color: #c1e6c6;
  --secondary-color: #d1d1d1;
  --very-light-hover-color: #eee;
  color-scheme: light;
}

.input-error {
  border: 1px solid red !important;
}

.p-multiselect-label {
  color: #495057 !important;
}

/* Override PrimeReact Components */
.p-button {
  background: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}
.p-button.p-button-text {
  color: var(--primary-color) !important;
  background-color: transparent !important;
}

.p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--primary-color),
    0 1px 2px 0 rgb(0, 0, 0) !important;
}

.p-datatable .p-column-header-content {
  white-space: nowrap;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--primary-color),
    0 1px 2px 0 rgb(0, 0, 0) !important;
}

/* General */
html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

main {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  main {
    max-width: calc(100% - 4rem);
  }
}

button, .p-button {
  text-transform: uppercase;
}

.image-container {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.logo-speeddial {
  position: relative;
  margin: auto;
  width: 245px !important;
  height: 245px !important;
}
.logo-speeddial .p-button:focus {
  box-shadow: none !important;
}

@media screen and (min-width: 600px) {
  .logo-speeddial {
    width: 182px !important;
    height: 182px !important;
  }
}

.p-fieldset .p-fieldset-legend {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1),
    0px 1px 4px -1px rgba(0, 0, 0, 0.1);
}

.topRightIconBg {
  background-color: red;
  top: -10px;
  right: -10px;
  border-radius: 50%;
}

.p-speeddial {
  position: relative !important;
  display: flex;
  z-index: 1;
}

.p-speeddial .p-button.p-button-icon-only.p-button-rounded {
  border-radius: 4px;
}

.p-speeddial .p-button {
  color: #ffffff;
  background: transparent !important;
  border: none !important;
  padding: 0.75rem 1.25rem;
}

.p-speeddial-button.p-button.p-button-icon-only {
  width: 8rem !important;
  height: 8rem !important;
}

.logo-speeddial .p-speeddial-action {
  width: 3.5rem !important;
  height: 3.5rem !important;
  background: #666666;
}

.logo-speeddial .p-speeddial-action-icon.pi {
  font-size: 1.25rem;
}

.exclamation-icon.pi {
  font-size: 1.8rem !important;
}

/* MENUBAR */
.p-menubar .p-menubar-button {
  display: none !important;
}

.p-menubar {
  position: inherit;
}

.p-menubar .p-menubar-root-list {
  display: flex;
  align-items: center;
  position: unset;
  padding: unset;
  background: inherit;
  border: unset;
  box-shadow: unset;
  width: unset;
}

/* SIDEBAR MENU */
.menu-wrapper {
  top: 76px;
}

.p-sidebar-content {
  margin: 0 !important;
  padding: 0 !important;
}

.p-menu .p-menuitem-link {
  padding: 0.75rem 0.75rem !important;
}

.menu-wrapper .p-menu {
  color: #495057;
  border: none !important;
  width: 100% !important;
}

.menu-wrapper .pi {
  font-size: 24px !important;
}

.menu-wrapper .p-menu .p-menuitem-link {
  padding: 0.75rem 0 !important;
}

.menu-wrapper .p-menu .p-menuitem-link .p-menuitem-icon {
  color: #6c757d;
  margin-right: 1rem !important;
}

.menu-wrapper .p-sidebar-header {
  display: none;
}

@media screen and (min-width: 960px) {
  /* .p-sidebar-mask {
    width: auto !important;
    display: flex !important;
  } */
  .menu-mini {
    width: 57px !important;
  }

  .menu-standard {
    width: 200px;
  }

  .p-sidebar-content {
    overflow: hidden !important;
  }
}

.p-datepicker.p-datepicker-multiple-month .p-datepicker-group {
  border-right: 1px solid #dee2e6;
  border-left: none !important;
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group:last-child {
  border-right: none;
  border-left: none;
}

.meeting-data-table.p-card .p-card-body,
.meeting-data-table.p-card .p-card-content,
.meeting-calendar.p-card .p-card-body,
.meeting-calendar.p-card .p-card-content {
  padding: 0 !important;
}

.last-edited-info {
  box-shadow: none !important;
}

.last-edited-info > div.p-card-body {
  padding: 6px 16px;
  margin: 0;
}

/* .elevate-item {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
} */

.p-card-grey {
  background-color: #bebebe;
}
.p-card .p-card-body {
  border: 1px solid #ced4da;
  border-radius: 6px;
  min-height: 100%;
}

.p-card .p-card-content {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.p-datepicker {
  border: none !important;
}

.MuiPaper-elevation0 {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
  width: 65px !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.MuiInputBase-input.MuiOutlinedInput-input {
  height: auto;
}

.css-13424xc-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: transparent !important;
}

.css-13424xc-MuiButtonBase-root-MuiMenuItem-root.Mui-focusVisible {
  background-color: transparent !important;
}

button.mobile-menu-toggle {
  margin-left: 12px;
}

.user-button.MuiButtonBase-root.MuiButton-root:hover {
  background-color: rgba(111, 191, 115, 0.4);
}

.navbar-avatar.MuiAvatar-root {
  background-color: transparent;
  border: 2px solid #fff;
}

.meeting-status > span {
  width: 130px;
}

.meeting-status-chips.MuiChip-root {
  width: 160px;
  border-radius: 4px;
  margin: 3px 0;
}

.multi-attendee-name {
  min-width: 80px;
  /* no wrap */
  /* white-space: nowrap; */
  margin-right: 16px;
}

.meeting-attendee-name {
  height: 32px;
  line-height: normal;
  margin: 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meeting-list-name-select .Mui-focused legend {
  width: 50px;
}

.action-icon-checkbox {
  padding: 0px 0px auto 0px;
}

.p-datatable .p-datatable-tbody > tr.p-highlight {
  background: hsl(122.42, 39%, 95%) !important;
  color: inherit !important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd.p-highlight {
  background: hsl(122.42, 39%, 90%) !important;
  color: inherit !important;
}

.p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr.p-row-odd.p-highlight
  .p-row-toggler {
  color: inherit !important;
}

.p-datatable.p-datatable-selectable
  .p-datatable-tbody
  > tr.p-selectable-row:focus {
  outline: 0.15rem solid hsl(122.42, 39%, 80%) !important;
}

.p-datepicker-today span, .p-datepicker table td.p-datepicker-today > span {
  /* background-color: transparent !important; */
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  font-weight: bold;
}

.p-datepicker-today .p-highlight span {
  color: #fff !important;
}

.p-datepicker table td>span.p-highlight {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled) span:hover {
  background: var(--very-light-hover-color) !important;
}

.meeting-day {
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-highlight > .meeting-day {
  background-color: var(--primary-color);
}

.p-datepicker table td>span.p-highlight:hover, .p-highlight > span.meeting-day:hover {
  background-color: var(--primary-hover-color) !important;
}

.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus, .p-datepicker table td>span:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none !important;
  background-color: var(--primary-color);
  color: #fff;
}

.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
  background-color: #000;
  opacity: 0.9;
}

.p-speeddial-action:hover {
  background: var(--primary-color) !important;
  color: #fff;
}

.p-component:disabled,
.p-disabled {
  opacity: .2 !important;
}

.MuiFormControl-root:has(> .Mui-disabled) {
  opacity: 0.5;
}

.user-profile-dropdown {
  margin: 1rem;
  min-width: 300px;
}

.expansion-row {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  .expansion-row__item {
    width: 50%;
  }
}

@media  screen and (min-width: 960px) {
  .expansion-row {
    flex-direction: column;
    .expansion-row__item {
      width: 100%;
    }
  }
  
}

.p-datatable .p-datatable-thead > tr > th {
  border-top: 1px solid #dee2e6 !important;
  border-left: 1px solid #dee2e6 !important;;
  border-right: 1px solid #dee2e6 !important;;
  border-bottom: 4px solid #dee2e6 !important;;
}

.p-datatable.students-table > .p-datatable-wrapper {
  padding: 10px;
  border: 2px solid #cacfd3;
}

.p-datatable-wrapper {
  min-height: 300px;
  max-height: calc(100vh - 368px);
}
/* .p-datatable .p-datatable-tbody > tr > td {
  padding: 1.5rem 1.5rem !important;
} */
.relative-container {
  position: relative;
}
.horizontal-line {
  display: block;
  /* position: absolute; */
  border-top: 1px solid var(--secondary-color);
  width: 100%;
  margin: 0.5rem 0;
}
.vertical-line {
  display: none;
}
@media screen and (min-width: 600px) {
  .horizontal-line {
    display: none;
  }
  .vertical-line {
    position: absolute;
    display: block;
    border-left: 1px solid var(--secondary-color);
    height: 100%;
    left: calc(50% = 60px);
    margin-left: -3px;
    top: 0;
  }
}

.landing-title {
  font-size: 3rem !important;
}
/* VERSION BOX */
.version-box {
  position: relative;
  border-radius: 4px;
  padding: 1.5rem 1rem;
  z-index: 999;
}
.version-box-green {
  border: 2px solid var(--primary-color);
  color: var(--primary-color)
}
.version-box-red {
  border: 2px solid red;
  color: red;
}
.current-version {
  position: absolute;
  top: -11px;
  line-height: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0 6px;
  background: #fff;
}
.current-version-green {
  color: var(--primary-color);
}
.current-version-red {
  color: red;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 2.5rem;
  height: 2.5rem;
  margin: 0.143rem;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: #fff !important;
}

.p-paginator {
  /* padding: 2rem auto !important; */
  margin: .5rem auto !important;
}

.close-icon {
  width: 36px !important;
  height: 36px !important;
  font-size: 36px !important;
}

.form-container {
  min-width: 80vw;
  max-height: 100vh;
  max-width: 850px;
  overflow-y: auto;
}
.form-fields {
  display: flex;
}
.form-fields-tp {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .form-fields-50 {
    width: calc(50% - 0.75rem);
  }}
